%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= Blog.title
    %link{:href => "/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed", :rel => "alternate", :title => "Primary Feed", :type => "application/atom+xml"}/
  %body
    #header
      #logo
        %h1
          %a{:href => "/"}= Blog.title
        %p
          by #{Blog.author}
    #content
      - posts.each do |post|
        .post
          %p.date
            = post[:created_at].strftime("%b")
            %b= post[:created_at].strftime("%d")
          %h2.title
            %a{:href => post.url}= post[:title]
          %p.meta
            %small
              = post.linked_tags
              - if Blog.disqus_shortname
                |
                %a{:href => "#{post.url}#disqus_thread"} comments
          .entry
            = post.summary_html
            - if post.more?
              %a{:href => post.url} Continue reading &raquo;
      - if posts.empty?
        %h2/
        %p Aww there's nothing here yet.
        %p
          %a{:href => "/auth"}> Log in
          , then
          = succeed "." do
            %a{:href => "/posts/new"} create a post
      - else
        #older_posts
          %a{:href => "/past"} Archive
      - if admin?
        #new_post
          <a href="/posts/new"">New post
    - if Blog.disqus_shortname
      :javascript
        //<[CDATA[
        (function() {
        	var links = document.getElementsByTagName('a');
        	var query = '?';
        	for(var i = 0; i < links.length; i++) {
        		if(links[i].href.indexOf('#disqus_thread') >= 0) {
        			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        		}
        	}
        	document.write('<script type="text/javascript" src="http://disqus.com/forums/#{Blog.disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        	})();
        //]]>
            #footer
      %p#legal
        Content and Design by #{Blog.author} |
        Twitter
        %a{:href => "http://www.twitter.com/michaelmoulton"} @michaelmoulton
