%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= Blog.title
    %link{:href => "/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed", :rel => "alternate", :title => "Primary Feed", :type => "application/atom+xml"}/
    %script{:type => "text/javascript", :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.2.js"}
    :javascript
      $(document).ready(function(){
        $(".trigger").click(function(){
          $(".panel").toggle("fast");
          $(this).toggleClass("active");
          return false;
        });
      });

  %body
    #header
      #logo
        %h1
          %a{:href => "/"}= Blog.title
        %p
          by: #{Blog.author}
    %div#tweetbox
      :ruby 
        def twitterApp
          url =  "http://twitter.com/statuses/user_timeline/michaelmoulton.json?count=1"
          buffer = open(url, "UserAgent" => "Ruby-Wget").read
          result = JSON.parse(buffer)
          result.each do |subject|
            return subject['text']
          end
        end
      %p= twitterApp
      %a{:href => "http://www.twitter.com/michaelmoulton"} Twitter &gt;
    %div.panel
      %h3 Hi! I'm Mike.
      %p I'm a graphic designer and product manager in Provo, UT.
      
      %div{:style => "clear:both;"}
        %div.columns
          %div.colleft
            %h4 Navigation	
          %div.colright
            %h4 Social Stuff
    %div{:style => "clear:both;"}
      %a.trigger{:href => "#"} info

    #content
      - posts.each do |post|
        .post
          %p.date
            = post[:created_at].strftime("%b")
            %b= post[:created_at].strftime("%d")
          %h2.title
            %a{:href => post.url}= post[:title]
          %p.meta
            %small
              = post.linked_tags
              - if Blog.disqus_shortname
                |
                %a{:href => "#{post.url}#disqus_thread"} comments
          .entry
            = post.summary_html
            - if post.more?
              %a{:href => post.url} Continue reading &raquo;
      - if posts.empty?
        %h2/
        %p Shoot! There's nothing here yet.
        %p
          %a{:href => "/auth"}> Log in
          , then
          = succeed "." do
            %a{:href => "/posts/new"} create a post
      - else
        #older_posts
          %a{:href => "/past"} Archive
      - if admin?
        #new_post
          <a href="/posts/new"">New post
    - if Blog.disqus_shortname
      :javascript
        //<[CDATA[
        (function() {
        	var links = document.getElementsByTagName('a');
        	var query = '?';
        	for(var i = 0; i < links.length; i++) {
        		if(links[i].href.indexOf('#disqus_thread') >= 0) {
        			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        		}
        	}
        	document.write('<script type="text/javascript" src="http://disqus.com/forums/#{Blog.disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        	})();
        //]]>
    #footer
      #legal
        Content and Design by #{Blog.author} | Twitter
        %a{:href => "http://www.twitter.com/michaelmoulton"} @michaelmoulton
