%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= @title || Blog.title
    %link{:href => "/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      #logo2
        %h1
          %a{:href => "/"}= Blog.title
        %p
          by #{Blog.author}
    #content
      = yield
    #footer
      #legal
        Content and Design by #{Blog.author} | Twitter
        %a{:href => "http://www.twitter.com/michaelmoulton"} @michaelmoulton
